name: Build and Deploy Artifact

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build artifact (zip website)
        run: |
          mkdir dist
          cp index.html style.css script.js dist/
          zip -r website.zip dist/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: website-artifact
          path: website.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: website-artifact

      - name: Copy artifact to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: website.zip
          target: /home/ubuntu

      - name: Deploy on server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo rm -rf /var/www/app
            sudo mkdir -p /var/www/app
            sudo unzip -o /home/ubuntu/website.zip -d /var/www/app
            sudo chown -R www-data:www-data /var/www/app
